<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin site</title>
    @Styles.Render("~/Content/adminCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/others")
    @Scripts.Render("~/bundles/adminScript")
    <script>
        $(document).ready(function () {
            $("#Panel_MessageBox").initMessageBox()
        })
    </script>

    <script>
        $(document).ready(function () {
            @*var navItems = $("#Panel_NavigateBar_AdminPage li").removeClass("active");
            var activeItem = $("#Panel_NavigateBar_AdminPage li[data-navigateType = @ViewBag.CurrentPageName]").first();
            $(activeItem).addClass("active");*@
        })
    </script>

</head>
<body class="sidebar-mini skin-green">
    <div class="wrapper">

        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg"><b>Admin</b> site</span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/content/dist/img/avatar_160x160.png" class="user-image" alt="User Image" />
                                <span>Smith</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/content/dist/img/avatar_160x160.png" class="img-circle" alt="User Image" />
                                    <p>
                                        Smith
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li style="display: none">
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel" style="display: none;">
                    <div class="pull-left image">
                        <img src="~/content/dist/img/avatar_160x160.png" class="user-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>
                            Smith
                        </p>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">Navigation</li>
                    @{Html.RenderAction("Menu", "Home"); }
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#" target="_blank"></a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- MessageBox -->
    <div id="Panel_MessageBox">
    </div>
    <!-- MessageBox -->
    @RenderSection("scripts", required: false)
</body>
</html>