<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Garden Furniture</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Garden Furniture">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="icon" type="image/ico" href="~/favicon.ico">
    @Styles.Render("~/Content/bootstrap");
     
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="~/Content/template/css/global.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/highdpi.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/responsive-tables.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/uniform.default.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/jquery.fancybox.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/product_list.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blockcart.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/jquery.bxslider.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blockcategories.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blockcurrencies.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blocklanguages.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blocknewsletter.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blocktags.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blockviewed.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/homeslider.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/hooks.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blockwishlist.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/productcomments.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/blockpermanentlinks.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/smartblogstyle.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/smartbloglatestnews.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/smartblogtags.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/front.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/tmmegamenu.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/tmnewsletter.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/tmproductvideos.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/tmrelatedproducts.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/tmsearch.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/jquery.autocomplete.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/front(1).css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/front(2).css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/live_configurator.css" media="all">
    <link rel="stylesheet" href="~/Content/template/css/themeconfiglink.css" media="all">

    <script type="text/javascript" src="~/Content/template/js/tools.js"></script>
    <script type="text/javascript" src="~/Content/template/js/global.js"></script>
    <script type="text/javascript" src="~/Content/template/js/10-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/template/js/14-device.min.js"></script>
    <script type="text/javascript" src="~/Content/template/js/15-jquery.total-storage.min.js"></script>
    @*<script type="text/javascript" src="~/Content/template/js/15-jquery.uniform-modified.js"></script>*@
    <script type="text/javascript" src="~/Content/template/js/16-jquery.scrollmagic.min.js"></script>
    <script type="text/javascript" src="~/Content/template/js/17-jquery.scrollmagic.debug.js"></script>
    <script type="text/javascript" src="~/Content/template/js/18-TimelineMax.min.js"></script>
    <script type="text/javascript" src="~/Content/template/js/19-TweenMax.min.js"></script>
    <script type="text/javascript" src="~/Content/template/js/jquery.fittext.js"></script>
    <script type="text/javascript" src="~/Content/template/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Content/template/js/products-comparison.js"></script>
    <script type="text/javascript" src="~/Content/template/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="~/Content/template/js/jquery.serialScroll.js"></script>
    <script type="text/javascript" src="~/Content/template/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/Content/template/js/treeManagement.js"></script>
    <script type="text/javascript" src="~/Content/template/js/blocknewsletter.js"></script>
    <script type="text/javascript" src="~/Content/template/js/homeslider.js"></script>
    <script type="text/javascript" src="~/Content/template/js/ajax-wishlist.js"></script>
    <script type="text/javascript" src="~/Content/template/js/validate.js"></script>
    <script type="text/javascript" src="~/Content/template/js/front.js"></script>
    <script type="text/javascript" src="~/Content/template/js/hoverIntent.js"></script>
    <script type="text/javascript" src="~/Content/template/js/superfish.js"></script>
    <script type="text/javascript" src="~/Content/template/js/tmmegamenu.js"></script>
    <script type="text/javascript" src="~/Content/template/js/js.js"></script>
    <script type="text/javascript" src="~/Content/template/js/tmrelatedproducts.js"></script>
    <script type="text/javascript" src="~/Content/template/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="~/Content/template/js/tmsearch.js"></script>
    <script type="text/javascript" src="~/Content/template/js/front(3).js"></script>
    <script type="text/javascript" src="~/Content/template/js/front(4).js"></script>
    <script type="text/javascript" src="~/Content/template/js/index.js"></script>
    <script src="~/Content/plugins/spin/spin.min.js"></script>

    <link rel="stylesheet" href="~/Content/template/css/site.css" type="text/css" media="all">
    <link href="~/Content/template/css/site1.css" rel="stylesheet" type="text/css">
    <link href="~/Content/template/css/site2.css" rel="stylesheet" type="text/css">
    <!--[if IE 8]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
    <script type="text/javascript" charset="UTF-8" src="~/Content/template/js/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/template/js/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/template/js/stats.js"></script>
    <script type="text/javascript">
        var FancyboxI18nClose = 'Close';
        var FancyboxI18nNext = 'Next';
        var FancyboxI18nPrev = 'Previous';
        var homeslider_loop = 1;
        var homeslider_pause = 6000;
        var homeslider_speed = 800;
        var homeslider_width = 10000;
    </script>
</head>
<body id="index" class="index hide-left-column hide-right-column lang_en one-column">
    <div id="page" class="">
        @Html.Action("_HeaderPartial", "Home")

        <div class="columns-container">
            @RenderBody()
        </div>

        @RenderPage("_FooterPartial.cshtml")
    </div>
</body>
</html>
