<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Core CSS     -->
    @Styles.Render("~/Content/adminCss")
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <!--   Core JS Files   -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/adminScript")
    <script>
        $(document).ready(function(){
            var navItems = $("#Panel_NavigateBar_AdminPage li").removeClass("active");
            if(@((int)ViewBag.CurrentPageName) != null){
                var activeItem = $("#Panel_NavigateBar_AdminPage li[data-navigateType = @ViewBag.CurrentPageName]").first();
                $(activeItem).addClass("active");
            }
            $("#Panel_MessageBox").initMessageBox();
        });
    </script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Online Store
                    </a>
                </div>
                <ul id="Panel_NavigateBar_AdminPage" class="nav">
                    <li class="active" data-navigateType=@OnlineStore.Infractructure.Utility.AdminNavigateEnum.DashBoard >
                        <a href="/Admin/Index">
                            <i class="pe-7s-graph"></i>
                            <p>@OnlineStore.Infractructure.Utility.AdminNavigateHelper.getNavigateItemName(OnlineStore.Infractructure.Utility.AdminNavigateEnum.DashBoard)</p>
                        </a>
                    </li>
                    <li data-navigateType=@OnlineStore.Infractructure.Utility.AdminNavigateEnum.Member>
                        <a href="user.html">
                            <i class="pe-7s-user"></i>
                            <p>@OnlineStore.Infractructure.Utility.AdminNavigateHelper.getNavigateItemName(OnlineStore.Infractructure.Utility.AdminNavigateEnum.Member)</p>
                        </a>
                    </li>
                    <li data-navigateType=@OnlineStore.Infractructure.Utility.AdminNavigateEnum.Product>
                        <a href="/ProductManagement/Index">
                            <i class="glyphicon glyphicon-qrcode"></i>
                            <p>@OnlineStore.Infractructure.Utility.AdminNavigateHelper.getNavigateItemName(OnlineStore.Infractructure.Utility.AdminNavigateEnum.Product)</p>
                        </a>
                    </li>
                    <li data-navigateType=@OnlineStore.Infractructure.Utility.AdminNavigateEnum.Manufacturer>
                        <a href="/BrandManagement/Index">
                            <i class="pe-7s-news-paper"></i>
                            <p>@OnlineStore.Infractructure.Utility.AdminNavigateHelper.getNavigateItemName(OnlineStore.Infractructure.Utility.AdminNavigateEnum.Manufacturer)</p>
                        </a>
                    </li>
                    <li data-navigateType=@OnlineStore.Infractructure.Utility.AdminNavigateEnum.News>
                        <a href="icons.html">
                            <i class="pe-7s-science"></i>
                            <p>@OnlineStore.Infractructure.Utility.AdminNavigateHelper.getNavigateItemName(OnlineStore.Infractructure.Utility.AdminNavigateEnum.News)</p>
                        </a>
                    </li>
                    <li data-navigateType=@OnlineStore.Infractructure.Utility.AdminNavigateEnum.Order>
                        <a href="notifications.html">
                            <i class="pe-7s-note2"></i>
                            <p>@OnlineStore.Infractructure.Utility.AdminNavigateHelper.getNavigateItemName(OnlineStore.Infractructure.Utility.AdminNavigateEnum.Order)</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!--  header panel  -->
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">@ViewBag.Title</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                                    Admin
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--  content panel  -->
            <div class="content">
                @RenderBody()
            </div>
            <!--  footer panel  -->
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <!-- MessageBox -->
    <div id="Panel_MessageBox">
        <!-- MessageBox -->
    </div>
</body>
</html>
