@model OnlineStore.Service.Messaging.GetProductsByCategoryResponse

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/plugins/pagingcontrol/jquery.simplePagination.js"></script>
<link href="~/Content/plugins/pagingcontrol/simplePagination.css" rel="stylesheet" />
<link href="~/Content/plugins/price-range/price-range.css" rel="stylesheet" />
<script src="~/Content/plugins/price-range/price-range.js"></script>
<script src="~/Scripts/DisplayProduct/DisplayProduct.js"></script>
<link href="~/Content/display-product/display-product-view.css" rel="stylesheet" />
<div class="columns-container">
    <div id="columns" class="container">
        <div class="breadcrumb clearfix">
            <a class="home" href="/Home" title="Return to Home">
                <i class="fa fa-home"></i>
            </a>
            <span class="navigation-pipe">&gt;</span>
            @Model.SelectedCategoryName
        </div><!-- breadcrumb -->
        <div class="row">
            <!-- content -->
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="center_column col-xs-12 col-sm-9 accordionBox">
                        <h1 class="page-heading product-listing">
                            <span class="cat-name">@Model.SelectedCategoryName </span>
                            <span class="heading-counter">Có @Model.Products.Count() sản phẩm</span>
                        </h1> <!-- title category panel -->
                        <div class="content_sortPagiBar clearfix">
                            <!-- content filter-display bar -->
                            <div class="sortPagiBar clearfix">
                                <ul class="display hidden-xs">
                                    <li class="display-title">View:</li>
                                    <li id="grid" class="selected">
                                        <a rel="nofollow" href="#" title="Grid">
                                            <i class="fa fa-th-large"></i>
                                            Grid
                                        </a>
                                    </li>
                                    <li id="list">
                                        <a rel="nofollow" href="#" title="List">
                                            <i class="fa fa-th-list"></i>
                                            List
                                        </a>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label>Sắp xếp theo</label>
                                    @Html.DropDownList("SortProductOptionsSelectListItems")
                                </div>
                            </div><!-- display-content bar -->
                            <div class="top-pagination-content clearfix">
                                <div class="paging-control-filtercontent pull-right"></div>
                            </div><!-- pagination-content bar -->
                        </div><!-- sort bar -->
                        @Html.Partial("ListProduct", Model.Products)  <!-- list product -->
                        <div class="content_sortPagiBar">
                            <div class="bottom-pagination-content clearfix">
                                <div class="paging-control-filtercontent pull-right"></div>
                            </div>
                        </div><!-- sort bar -->
                    </div><!-- list product panel -->
                    <div id="left_column" class="column col-xs-12 col-sm-3">
                        <section id="layered_block_left" class="block">
                            <h4 class="title_block">DANH MỤC</h4>
                            <div class="block_content">
                                <form action="#" id="layered_form">
                                    <div>
                                        <div class="layered_filter">
                                            <div class="layered_subtitle_heading">
                                                <span class="layered_subtitle">Thương hiệu</span>

                                            </div>
                                            <ul class="col-lg-12 layered_filter_ul">
                                                @foreach (var brand in @Model.Brands)
                                                {
                                                    <li class="nomargin col-lg-12">
                                                        <label><input type="checkbox" class="ckb-brand-filtercontent" data-id=@brand.Id> @brand.Name</label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="layered_price clearfix" style="">
                                            <div class="layered_subtitle_heading">
                                                <span class="layered_subtitle">Giá</span>
                                            </div>
                                            <div class="col-lg-12 layered_filter_ul">
                                                <div class="price-range-input-panel">
                                                    <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="50000000" data-slider-step="100000" data-slider-value="[200000,20000000]" id="Sl_PriceRange">
                                                    <br />
                                                    <b class="pull-left">0 Đ</b> <b class="pull-right">50.000.000 Đ</b>
                                                </div>
                                                <div class="btn-filter-after-price-wrapper">
                                                    <a id="Btn_FilterAfterPrice" class="btn-filter-after-price">
                                                        <i class="fa fa-filter"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="id_category_layered" value="12">
                                </form>
                            </div>
                        </section>
                        <section id="new-products_block_right" class="block products_block">
                            <h4 class="title_block">
                                <a href="https://livedemo00.template-help.com/prestashop_58023/index.php?controller=new-products" title="New products">Sản phẩm mới</a>
                            </h4>
                            <div class="block_content products-block" style="">
                                <ul class="products">
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=26&amp;controller=product&amp;id_lang=1" title="Wicker and Resin Dining Table"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/1/4/4/144-tm_small_default.jpg" alt="Wicker and Resin Dining Table"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=26&amp;controller=product&amp;id_lang=1" title="Wicker and Resin Dining Table">Wicker and Resin Dining Table</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $80.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=27&amp;controller=product&amp;id_lang=1" title="Round 18-Inch Side Table"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/1/5/0/150-tm_small_default.jpg" alt="Round 18-Inch Side Table"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=27&amp;controller=product&amp;id_lang=1" title="Round 18-Inch Side Table">Round 18-Inch Side Table</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $100.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=24&amp;controller=product&amp;id_lang=1" title="Outdoor Rattan Lounge Chair"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/1/3/2/132-tm_small_default.jpg" alt="Outdoor Rattan Lounge Chair"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=24&amp;controller=product&amp;id_lang=1" title="Outdoor Rattan Lounge Chair">Outdoor Rattan Lounge Chair</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $200.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=25&amp;controller=product&amp;id_lang=1" title="Catalina Adirondack Chair"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/1/3/8/138-tm_small_default.jpg" alt="Catalina Adirondack Chair"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=25&amp;controller=product&amp;id_lang=1" title="Catalina Adirondack Chair">Catalina Adirondack Chair</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $120.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=21&amp;controller=product&amp;id_lang=1" title="Oval Sofa Sectional Furniture Set"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/1/1/8/118-tm_small_default.jpg" alt="Oval Sofa Sectional Furniture Set"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=21&amp;controller=product&amp;id_lang=1" title="Oval Sofa Sectional Furniture Set">Oval Sofa Sectional Furniture Set</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $1,300.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=22&amp;controller=product&amp;id_lang=1" title=" Sofa Sectional Furniture Set"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/1/2/0/120-tm_small_default.jpg" alt=" Sofa Sectional Furniture Set"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=22&amp;controller=product&amp;id_lang=1" title=" Sofa Sectional Furniture Set"> Sofa Sectional Furniture Set</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $1,200.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=23&amp;controller=product&amp;id_lang=1" title="Patio Sofa Chair Set"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/1/2/6/126-tm_small_default.jpg" alt="Patio Sofa Chair Set"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=23&amp;controller=product&amp;id_lang=1" title="Patio Sofa Chair Set">Patio Sofa Chair Set</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $1,500.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a class="products-block-image" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=18&amp;controller=product&amp;id_lang=1" title=" Chaise Lounge Bed with Umbrella"><img class="replace-2x img-responsive" src="https://livedemo00.template-help.com/prestashop_58023/img/p/9/6/96-tm_small_default.jpg" alt=" Chaise Lounge Bed with Umbrella"></a>
                                        <div class="product-content">
                                            <h5>
                                                <a class="product-name" href="https://livedemo00.template-help.com/prestashop_58023/index.php?id_product=18&amp;controller=product&amp;id_lang=1" title=" Chaise Lounge Bed with Umbrella"> Chaise Lounge Bed with Umbrella</a>
                                            </h5>
                                            <p class="product-description">Fashion in this case is really interesting phenomenon - we often like...</p>
                                            <div class="price-box">
                                                <span class="price">
                                                    $400.00
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div>
                                    <a href="https://livedemo00.template-help.com/prestashop_58023/index.php?controller=new-products" title="All new products" class="btn btn-default btn-sm icon-right">
                                        <span>
                                            All new products
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    DisplayProductManagement.init(@Model.SelectedCategory,@Model.NumberOfTitlesFound,@Model.CurrentPage);
</script>
