@model IEnumerable<OnlineStore.Model.Context.ProductTitle>

@{
    ViewBag.CurrentPageName = OnlineStore.Infractructure.Utility.AdminNavigateEnum.Product;
    ViewBag.Title = "QUẢN TRỊ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @Html.ActionLink("THÊM", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <table class="table">
            <tr>
                <th class="col-mid">
                    MÃ SẢN PHẨM
                </th>
                <th class="col-maxlarge">
                    TÊN
                </th>
                <th class ="col-small">
                    SỐ LƯỢNG
                </th>
                <th class="col-mid">
                    TRẠNG THÁI
                </th>
                <th class="col-large">
                    NHÀ SẢN XUẤT
                </th>
                <th class="col-large"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                    </td>
                    <td>
                        @Html.ActionLink("SỬA", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("CHI TIẾT", "Details", new { id = item.Id }) |
                        @Html.ActionLink("XÓA", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>

    </div>

</div>

