@model OnlineStore.Model.ViewModel.DetailsBrandManagementView

@{
    ViewBag.CurrentPageName = OnlineStore.Infractructure.Utility.AdminNavigateEnum.Manufacturer;
    ViewBag.Title = "CHI TIẾT NHÀ CUNG CẤP SẢN PHẨM";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <fieldset>
        <div class="form-group">
            <label class="col-maxlarge">TÊN NHÀ CUNG CẤP</label>
            @Html.DisplayFor(model => model.Name, new {@class = "form-control" })
        </div>
        <div class="form-group">
            <label class="col-maxlarge">TRẠNG THÁI</label>
            @Html.DisplayFor(model => model.Status, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="col-maxlarge">MỨC ƯU TIÊN SẮP XẾP</label>
            @Html.DisplayFor(model => model.SortOrder, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="col-maxlarge">THÔNG TIN NHÀ CUNG CẤP</label>
            @Html.DisplayFor(model => model.Description, new { @class = "form-control" })
        </div>
</fieldset>
</div>
<p>
    @Html.ActionLink("SỬA", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("TRỞ VỀ", "Index", null, new { @class= "btn btn-default"})
</p>
